p {
    display: block;
}

.time{
    font-family: Comfortaa;
    font-size: 20px;
    color: gold;
}

.TimeLineContainer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-style: solid;
    border-color: gold;
    height: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(12, 17, 23, 0.3);
}

.TimeLineContainer h3 {
    margin-top: 20px;
    color: gold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-align:center;
}

.yt {
    width: 800px;
    height: 450px;
    margin-left: 100px;
    margin-bottom: 20px;
}