
.avatarPosition {
    margin-bottom: 40px;
}

.pktPos {
    margin-bottom: 20px;
    margin-top: -30px;
}

.viS {
    margin-top: 20px;
    margin-bottom: 40px;
}

.vst {
    width: 800px;
    height: 500px;
}

.fotPos {
    padding-bottom: 30px;
}

a {
    font-size: 20px;
    color: #f4eaff;
}

.sldButton {
    width: 40%;
    color: #f4eaff;
}

.sldButton span {
    position: absolute;
    right: 30%;
}

.sldSecondButton span {
    left: 30%;
}

@media only screen and (max-width: 850px) {
    .vst {
        width: 500px;
        height: 312px;
    }
    .sldButton span {
        position: absolute;
        right: 20%;
    }

    .sldSecondButton span {
        left: 20%;
    }
    .sldButton {
        width: 20%;
        color: #f4eaff;
    }
}

@media only screen and (max-width: 720px) {


}

@media only screen and (max-width: 630px) {


}

@media only screen and (max-width: 560px) {
    .vst {
        width: 300px;
        height: 185px;
    }
    .sldButton span {
        position: absolute;
        right: 30%;
    }

    .sldSecondButton span {
        left: 30%;
    }
    .sldButton {
        width: 40%;
        color: #f4eaff;
    }
    .avatarPosition {
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .viS {
        margin-top: 50px;
        margin-bottom: -30px;
    }
    h5 {
        font-size: 0.75rem;
    }
    a {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 480px) {


}

@media only screen and (max-width: 420px) {
    .sldButton span {
        position: absolute;
        right: 80vw;
        left: 20vw;
    }

    .sldSecondButton span {
        left: 0;
        right: 0;
    }
    .sldButton {
        width: 20%;
        color: #f4eaff;
    }

}

@media only screen and (max-width: 360px) {


}

@media only screen and (max-width: 320px) {


}