
@font-face {
    font-family: Comfortaa;
    src: url("../fonts/Comfortaa.ttf");
}

@font-face {
    font-family: Metropoliten;
    src: url("../fonts/Metropolis 1920.otf");
}

@font-face {
    font-family: journalism;
    src: url("../fonts/journalism.ttf");
}

body {
    width:1600px;
    justify-content: center;
    margin:auto !important;
    background-color: #0c1117 !important;
}
