
@font-face {
    font-family: Comfortaa;
    src: url("../fonts/Comfortaa.ttf");
}

@font-face {
    font-family: Metropoliten;
    src: url("../fonts/Metropolis 1920.otf");
}

@font-face {
    font-family: journalism;
    src: url("../fonts/journalism.ttf");
}

body {
    width:86vw;
    justify-content: center;
    margin:auto !important;
    background-color: #0c1117 !important;
}

@media only screen and (max-width: 1400px) {
    body {
        width:100vw;
    }
}


@media only screen and (max-width: 1100px) {

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: auto;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-right: auto;
        margin-left: 0;
        justify-content: flex-start;
    }

    .navbar>.container-fluid {
        justify-content: flex-start !important;
    }
}
