/*Вся карточка*/
.personContainer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-style: solid;
    border-color: gold;
    height: auto;
    backdrop-filter: blur(20px);
    background-color: rgba(12, 17, 23, 0.3);
    margin-top: 50px;
}
/*ФИО*/
.personContainer h2{
    color:gold;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
}

/*Главная картинка*/
.personContainer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); 
}

/*Полное описание*/
.descriptionContainer{
    padding-top: 20px;
    padding-left: 40px;
    height: 400px;
    display: flex;
    text-align: justify;
}

/*Инфо о рождении/смерти + карты (элемент .descriptionContainer)*/
.yearAndMapContainer {
    margin-top: 0px;
    width:450px;
    height: 360px;
    display: flex;
    flex-direction: column; /* Расположение элементов в столбик */
    align-items: center;
}

/*Краткое инфо о знаменитости (элемент .descriptionContainer)*/
.shortInfoContainer{
    width:500px;
    margin-top: 30px;
    margin-right: 20px;
}

.descriptionContainer p {
    color: #f4eaff;
}

.secondParagraph {
    margin-bottom: 28px;
    margin-top: -10px;
}


@media only screen and (max-width: 1400px) {
    .descriptionContainer{
        height: auto;
    }
}


@media only screen and (max-width: 1100px) {
    .personContainer {
        width: 95%;
    }
    .yearAndMapContainer{
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 992px) {
    .personContainer {
        width: 98%;
    }
    .shortInfoContainer{
        width: 75%;
    }
}

@media only screen and (max-width: 850px) {
    .infoContainer p{
        font-size: 14px;
    }
}

@media only screen and (max-width: 720px) {
    .descriptionContainer{
        display: grid;
        height: auto;
        padding: 0;
    }

    .shortInfoContainer{
        margin-right: auto;
        margin-left: auto;
    }

    .yearAndMapContainer{
        margin-right: auto;
        margin-left: auto;
    }

}

@media only screen and (max-width: 630px) {
}

@media only screen and (max-width: 560px) {
}

@media only screen and (max-width: 480px) {

    .shortInfoContainer{

        margin-right: 2vw;
        margin-left: 6vw;
    }

    .yearAndMapContainer{
        width: 80%;
        margin-right: 15vw;
    }
}

@media only screen and (max-width: 420px) {


}

@media only screen and (max-width: 360px) {
    .shortInfoContainer{
        margin-left: 10vw;
    }
    .yearAndMapContainer{
        width: 85vw;
        margin-right: 0vw;
        margin-left: 3vw;
    }
}

@media only screen and (max-width: 320px) {


}
