.bgImg {
    justify-content: center;
    align-items: center;
    background-image: url("../images/back2.png");
    background-size: 1600px;
    background-repeat: repeat-y;
    background-position: top;
    position: center;
    top:0;
    background-color: #0c1117;
    z-index: -1;
}
.ots {
    margin-left: 20px;
}


.scrollableContent {
    margin-left: -18px;
}

.poisk {
    padding-left: 10px;
    font-family: Comfortaa;
    font-size: 16px;
    width: 900px;
    height: 40px;
    border: 3px;
    backdrop-filter: blur(20px);
    outline: rgba(134,131,143,1);
    background-color: rgba(12, 17, 23, 0.3);
    color: #f4eaff;

}

.poisk::placeholder {
    color: #999;
}