.nvbr {
    --bs-navbar-padding-x: 20px;
    background-color: transparent;
    backdrop-filter: blur(6px);
    width: 1600px;
    object-position: center;
    position: static;
    justify-content: center;
    display: flow;
    left: 160px;

}

.txt {
    margin: 0 auto 0 0;
    font-family: Comfortaa;
    font-size: 24px;
    color: gold;
}

.pads {
    padding: 10px 50px;
}

.link{
    border-radius: 10px;
}

.link:hover{
    color: rgba(12, 17, 23, 0.8) !important;
    background-color: #f4eaff;
}

.nvb {
    --bs-btn-color: #f4eaff;
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #f4eaff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
}

.element {
    padding-right: 30px;
}

.btn {
    width: 75px !important;
    --bs-btn-color: #f4eaff;
    --bs-btn-bg: rgba(12, 17, 23, 0.8);
    --bs-btn-border-color: #f4eaff;
    --bs-btn-hover-color: rgba(12, 17, 23, 0.8);
    --bs-btn-hover-bg: #f4eaff;
    --bs-btn-hover-border-color: rgba(12, 17, 23, 0.8);
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color:  rgba(12, 17, 23, 0.8);
    --bs-btn-active-bg: #f4eaff;
    --bs-btn-active-border-color: rgba(12, 17, 23, 0.8);

}

@media only screen and (max-width: 1400px) {
    .nvbr {
        width: auto;
    }
    .txt {
        margin: 0 auto 0 0;
        font-family: Comfortaa;
        font-size: 24px;
        color: gold;
    }
    .btn {
        margin-right: 60px;
        width: 75px !important;
        --bs-btn-color: #f4eaff;
        --bs-btn-bg: rgba(12, 17, 23, 0.8);
        --bs-btn-border-color: #f4eaff;
        --bs-btn-hover-color: rgba(12, 17, 23, 0.8);
        --bs-btn-hover-bg: #f4eaff;
        --bs-btn-hover-border-color: rgba(12, 17, 23, 0.8);
        --bs-btn-focus-shadow-rgb: 66, 70, 73;
        --bs-btn-active-color: rgba(12, 17, 23, 0.8);
        --bs-btn-active-bg: #f4eaff;
        --bs-btn-active-border-color: rgba(12, 17, 23, 0.8);
    }

}

@media only screen and (max-width: 1300px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1100px) {
    .txt {
        font-family: Comfortaa;
        font-size: 20px;
        color: gold;
    }
}


@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 850px) {


}

@media only screen and (max-width: 720px) {


}

@media only screen and (max-width: 630px) {


}

@media only screen and (max-width: 560px) {


}

@media only screen and (max-width: 480px) {


}

@media only screen and (max-width: 420px) {


}

@media only screen and (max-width: 360px) {


}

@media only screen and (max-width: 320px) {


}