.content {
    justify-content: left;
    align-items: center;
    width: 1200px;
    text-align: left;
    margin: 0px auto;
    padding: 20px;
    font-family: Comfortaa;
    color: #f4eaff;
    display: flex;
    font-size: 20px;
    backdrop-filter: blur(3px);
    background-color: rgba(12, 17, 23, 0.8);
    text-decoration: none;
    pointer-events: none;
}

.borderedDivStyle {
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 1204px;
    border: 2px solid gold;
}

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1300px) {

}

@media only screen and (max-width: 1200px) {
    .content {
        justify-content: left;
        align-items: center;
        width: 800px;
        text-align: left;
        margin: 0px auto;
        padding: 20px;
        font-family: Comfortaa;
        color: #f4eaff;
        display: flex;
        font-size: 20px;
        backdrop-filter: blur(3px);
        background-color: rgba(12, 17, 23, 0.8);
        text-decoration: none;
        pointer-events: none;
    }

    .borderedDivStyle {
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        width: 804px;
        border: 2px solid gold;
    }
}

@media only screen and (max-width: 1100px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 850px) {
    .content {
        justify-content: left;
        align-items: center;
        width: 500px;
        text-align: left;
        margin: 0px auto;
        padding: 20px;
        font-family: Comfortaa;
        color: #f4eaff;
        display: flex;
        font-size: 16px;
        backdrop-filter: blur(3px);
        background-color: rgba(12, 17, 23, 0.8);
        text-decoration: none;
        pointer-events: none;
    }

    .borderedDivStyle {
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        width: 504px;
        border: 2px solid gold;
    }

}

@media only screen and (max-width: 720px) {


}

@media only screen and (max-width: 630px) {


}

@media only screen and (max-width: 560px) {
    .content {
        justify-content: left;
        align-items: center;
        width: 300px;
        text-align: left;
        margin: 0px auto;
        padding: 20px;
        font-family: Comfortaa;
        color: #f4eaff;
        display: flex;
        font-size: 10px;
        backdrop-filter: blur(3px);
        background-color: rgba(12, 17, 23, 0.8);
        text-decoration: none;
        pointer-events: none;
    }

    .borderedDivStyle {
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        width: 304px;
        border: 2px solid gold;
    }

}

@media only screen and (max-width: 480px) {


}

@media only screen and (max-width: 420px) {


}

@media only screen and (max-width: 360px) {


}

@media only screen and (max-width: 320px) {


}