/*Вся карточка*/
.personContainer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-style: solid;
    border-color: gold;
    height: auto;
    backdrop-filter: blur(20px);
    background-color: rgba(12, 17, 23, 0.3);
}

/*ФИО*/
.personContainer h2{
    color:gold;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
}

/*Главная картинка*/
.personContainer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
    border: 2px solid #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); 
}

/*Полное описание*/
.descriptionContainer{
    padding-top: 50px;
    padding-left: 40px;
    display: grid;
    height: 400px;
    display: flex;
    text-align: justify;
}

/*Инфо о рождении/смерти + карты (элемент .descriptionContainer)*/
.yearAndMapContainer {
    margin-top: -35px;
    display: grid;
    place-items: center;
    width:450px;
    height: 360px;
}

/*Краткое инфо о знаменитости (элемент .descriptionContainer)*/
.shortInfoContainer{
    width:500px;
    margin-right: 20px;
}

.descriptionContainer p {
    color:white;
} 

.yearMapContainer p:first-of-type {
    margin-bottom: -25px;
} 

